@import "tailwindcss";

@layer utilities {
    /* Para navegadores basados en WebKit (Chrome, Safari y Opera) */
    .scrollbar-hide::-webkit-scrollbar {
      display: none;
    }
    /* Para IE, Edge y Firefox */
    .scrollbar-hide {
      -ms-overflow-style: none;  /* IE y Edge */
      scrollbar-width: none;  /* Firefox */
    }
  }
  
  img.gallery-img {
    image-rendering: -webkit-optimize-contrast;
    backface-visibility: hidden;
  }